# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

TrajOptKP

/cmake-build-debug
/cmake-build-release
/build
/.vscode
/.idea
/media

# Ignore everything in the TestingData directory
TestingData/*

# Except for the scripts directory
!TestingData/scripts/

# Include all contents of the scripts directory
!TestingData/scripts/**


